footer{
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    .footer-top{
        width: 100%;
        display: flex;
        justify-content: end;
        .footer-btn{
            padding: 30px;
            border: none;
            background-color: black;
            color: white;
            font-size: 20px;
        }
    }
    .footer-link{
        width: 100%;
        display: flex;
        gap: 35px;
        flex-direction: column;
        ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
            li{
                a{
                    font-size: 18px;
                    color: black;
                    white-space: nowrap;
                }
            }
        }
        .footer-login{
            display: flex;
            flex-direction: column;
            gap: 30px;
            p{
                // width: 40%;
                color: #A0A0A0;
            }
        }
    }
    .footer-nav{
        padding: 50px 0;
        .footer-nav__link{
            width: 100%;
            gap: 10px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            li{
                a{
                    color: #A0A0A0;
                }
            }
        }
    }
}


@media(min-width:768px){
    footer{
        .footer-link{
            flex-direction: row;
            .footer-login{
                p{
                    width: 50%;
                }
            }
        }
        .footer-nav{
            width: 100%;
            .footer-nav__link{
                width: 100%;
                flex-direction: row;
            }
        }
    }
}